server:
  port: 9092

spring:
  application:
    name: book-service
  datasource:
    url: jdbc:postgresql://localhost:5432/spring-microservices-two-bookapp
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  instance:
    hostname: localhost
